@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700i');

#feedImage {
    height: 500px;
    width:100%;
    background-image: url('Neighborhood.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    /* padding-bottom: 148px; */
}
html{
    margin:0;
    width:100%;
    background-color: #D9E5D6
  }
#feed { 
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat; 
    background-color: #D9E5D6
}


#feedList {
    float: center;
    background-color: #D9E5D6;
    font-family: 'Montserrat', sans-serif;
}

#feedSubmit:hover {
color: #D9E5D6;
font-weight: bold;
background-color:#D9E5D6;
}

#feedTitle {
    margin-top:0;
   font-size: 50px;
   font-family: 'Montserrat', sans-serif;
}
a {
    padding:10px;
}

#inputBox{
    width: 85px;
    height:20px;
    font-size: 16px;
    text-align: center;
}
#zip-code{
    font-size: 20px;
 }

 button{
     height:25px;
     width:60px;
     border-radius:6px;
     background-color: black;
     color:white;
 }
 #feed li {
     font-size:20px;
     font-weight: bold;
     
     padding-bottom:10px;
 }
 #streetEasy{
    font-size:22px;
 }

