.homeback{
    background-image: url('https://sandiegomagazine.com/San-Diego-Magazine/March-2015/Best-Neighborhoods-in-San-Diego/The-Affordability-Crisis/san-diego-house-for-sale.jpg');
    height: 800px;
    background-size: 100%;
    background-repeat: no-repeat; 
  
  }
  #title {
    /* display: inline-block; */
    margin: auto;
    right: 0;
    left: 0;
    padding-top: 300px;
  }


  .userDiv{
    display:inline-block;
  }
  body{
    text-align:center;
  }

 /* #allStories:hover {
    position: relative;
    top: -25px;
    left: -35px;
    width: 500px;
    height: auto;
    display: block;
    z-index: 999;
  } */