.App {
  text-align: center;
}
body {
  background-color: steelblue;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.link {
  float: right;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
}

#map-container {
  height: 500px;
  width:710px;
  /* display: inline-block; */
  /* float:left; */
  /* height: 400px;
    padding: 5px;
  margin: 5px;  */
  padding-top:30px;
 
}
body{
  text-align:center;
}

#title {
  color:red;
  /* display: inline-block; */
  margin:auto;
  right: 0;
  left: 0;
}

#titleCon{
  width:700px;
  /* margin:20px 0px 100px 10px; */
  text-align: center;
  display: inline-block;
  padding-right:30px;
 
}

nav {
  text-align: center;
  padding-top:25px;
 
}
#link {
  padding-left: 5px;
  padding-right: 5px;
}
#checklist {
  /* background-color: #eeeeee;; */
  /* position: absolute;
  right: 150px;
  top:150px;
  padding-top:20px;
  /* border: solid 1px; */
  /*height:550px;
  width:326.75px */
  right:0px;
  top:150px;
  position: absolute
}
li {
  padding-top:2px;
}
html{
  background-color: rgba(248, 244, 244, 0)
}

h1 {
  text-align: center;
  padding-top:10px;
}
#stories {
  text-align: center;
}
/* #complaintDesc #map-container{
  padding-left:10px;

} */
/* #complaintDesc{
  padding-bottom:10px;
} */ 


/* title ----- /* padding-left: 270px; */
  /* position: absolute;
  margin: auto;  */
  /* top: 0; */
/*text-align: center; */
  /* width: 400px; */
  /* font-size:x-large */
  /* margin-left: auto; 
  margin-right: auto */