
#map-container {
  height: 500px;
  width:650px;
  display: block;
  float:left;
}

.title {
  text-align: center;
  width: 400px;
  font-size:x-large
}
#titleCon{
  width:700px;
  margin:20px 0px 100px 10px;
}

nav {
  text-align: center;
}
#checklist {
  /* background-color: #eeeeee;; */
  position: absolute;
  right: 0px;
  top:130px;
  padding-top:20px;
  /* border: solid 1px; */
  height:550px;
  width:326.75px
}