
#map-container {
  height: 500px;
  width:710px;
  display: block;
  float:left;
  /* height: 400px;
    padding: 5px;
  margin: 5px;  */
}

.title {
  text-align: center;
  width: 400px;
  font-size:x-large
}
#titleCon{
  width:700px;
  margin:20px 0px 100px 10px;
}

nav {
  text-align: center;
  padding-top:15px;
 
}
#link {
  padding-left: 5px;
  padding-right: 5px;
}
#checklist {
  /* background-color: #eeeeee;; */
  position: absolute;
  right: 0px;
  top:130px;
  padding-top:20px;
  /* border: solid 1px; */
  height:550px;
  width:326.75px
}
li {
  padding-top:2px;
}
html{
  background-color: rgb(230, 230, 230)
}

h1 {
  text-align: center;
  padding-top:10px;
}
#stories {
  text-align: center;
}